.todo_item {
    width: 90%;
    border: 1px solid black;

    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;

    display: flex;
    align-items: center;

}
.icono {
    font-size: 2rem;

}
.icono:hover{
    cursor: pointer;
}
.todo_item p {
    font-size: 1.6rem;

}
.ico2 {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
   
}
.ico2:hover{
    cursor: pointer;
    
}
.tachar{
    text-decoration: line-through;
    color: rgb(54, 54, 54);
}